name: Deploy to Staging & Production

# This workflow is triggered whenever commits are pushed to the main branch
on:
  push:
    branches:
      - 'main'

permissions:
  id-token: write # This is required for requesting the JWT to connect Github to AWS
  contents: read  # This is required for actions / checkout

jobs:

  # ======================================================
  # Deploy the main branch to staging
  # 
  # It's important to test the main branch in staging
  # before going to production with it.
  # ======================================================
  deploy_staging:
    name: 'Deploy to Staging'
    environment: staging
    runs-on: ubuntu-latest

    steps:
    - name: 'Checkout repository'
      uses: actions/checkout@v3

    - name: 'Set Environment Secrets'
      env:
        MISC_KEY: ${{ secrets.MISC_KEY }}
      run: echo "MISC_KEY=${MISC_KEY}" >> $GITHUB_ENV

    - name: 'Update AppSettings to Environment'
      run: cp ci-cd-demo/appsettings.Staging.json ci-cd-demo/appsettings.json
    
    - name: 'Set up .NET Core'
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    
    - name: 'Build application files'
      run: dotnet publish --no-self-contained --runtime linux-x64 --configuration Release --output ./artifact/build ./ci-cd-demo/ci-cd-demo.csproj

    - name: 'Install zip functionality'
      uses: montudor/action-zip@v1

    - name: 'Zip up the build files'
      run: zip -qq -r ../build.zip .
      working-directory: artifact/build

    - name: 'Copy Cloudformation deployment template file'
      run: cp ./deployment.yml ./artifact/deployment.yml

    - name: 'Upload zipped build files'
      uses: actions/upload-artifact@v3
      with:
        name: build
        path: ./artifact

    - name: 'Configure AWS Credentials'
      uses: aws-actions/configure-aws-credentials@v1
      with:
        role-to-assume: arn:aws:iam::604486847222:role/OIDC_GitHub
        role-session-name: GitHub_to_AWS_via_FederatedOIDC
        aws-region: eu-north-1
        
    - name: 'Delete existing zipped build files in AWS'
      run: aws s3 rm s3://ddt-build-files/ci-cd-demo/staging --recursive --exclude "*" --include "*.zip"
    
    - name: 'Upload zipped build files to AWS S3 bucket'
      run: aws s3 cp ./artifact/build.zip s3://ddt-build-files/ci-cd-demo/staging/build-${{ github.run_number }}.zip

    - name: 'Create AWS CloudFormation Stack'
      uses: aws-actions/aws-cloudformation-github-deploy@v1
      with:
        name: ci-cd-demo-stack-staging
        template: artifact/deployment.yml
        parameter-overrides: Environment=staging, BucketName=ddt-build-files, Key=ci-cd-demo/staging/${{ format('build-{0}.zip', github.run_number ) }}
        capabilities: CAPABILITY_IAM, CAPABILITY_AUTO_EXPAND
        no-fail-on-empty-changeset: "1"

  # ======================================================
  # Deploy the main branch to production
  # 
  # This job will require the `deploy_staging` job to
  # run and complete successfully first!
  # ======================================================
  deploy_production:
    name: 'Deploy to Production'
    environment: production
    runs-on: ubuntu-latest
    needs: deploy_staging

    steps:
    - name: 'Checkout repository'
      uses: actions/checkout@v3

    - name: 'Set Environment Secrets'
      env:
        MISC_KEY: ${{ secrets.MISC_KEY }}
      run: echo "MISC_KEY=${MISC_KEY}" >> $GITHUB_ENV

    - name: 'Update AppSettings to Environment'
      run: cp ci-cd-demo/appsettings.Production.json ci-cd-demo/appsettings.json
    
    - name: 'Set up .NET Core'
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    
    - name: 'Build application files'
      run: dotnet publish --no-self-contained --runtime linux-x64 --configuration Release --output ./artifact/build ./ci-cd-demo/ci-cd-demo.csproj

    - name: 'Install zip functionality'
      uses: montudor/action-zip@v1

    - name: 'Zip up the build files'
      run: zip -qq -r ../build.zip .
      working-directory: artifact/build

    - name: 'Copy Cloudformation deployment template file'
      run: cp ./deployment.yml ./artifact/deployment.yml

    - name: 'Upload zipped build files'
      uses: actions/upload-artifact@v3
      with:
        name: build
        path: ./artifact

    - name: 'Configure AWS Credentials'
      uses: aws-actions/configure-aws-credentials@v1
      with:
        role-to-assume: arn:aws:iam::604486847222:role/OIDC_GitHub
        role-session-name: GitHub_to_AWS_via_FederatedOIDC
        aws-region: eu-north-1
        
    - name: 'Delete existing zipped build files in AWS'
      run: aws s3 rm s3://ddt-build-files/ci-cd-demo/production --recursive --exclude "*" --include "*.zip"
    
    - name: 'Upload zipped build files to AWS S3 bucket'
      run: aws s3 cp ./artifact/build.zip s3://ddt-build-files/ci-cd-demo/production/build-${{ github.run_number }}.zip

    - name: 'Create AWS CloudFormation Stack'
      uses: aws-actions/aws-cloudformation-github-deploy@v1
      with:
        name: ci-cd-demo-stack-production
        template: artifact/deployment.yml
        parameter-overrides: Environment=production, BucketName=ddt-build-files, Key=ci-cd-demo/production/${{ format('build-{0}.zip', github.run_number ) }}
        capabilities: CAPABILITY_IAM, CAPABILITY_AUTO_EXPAND
        no-fail-on-empty-changeset: "1"
    
