name: Deploy to Staging & Production

# This workflow is triggered whenever commits are pushed to the main branch
on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

permissions:
  id-token: write # This is required for requesting the JWT to connect Github to AWS
  contents: read  # This is required for actions / checkout

jobs:

  # ======================================================
  # Deploy the main branch to staging
  # 
  # It's important to test the main branch in staging
  # before going to production with it.
  # ======================================================
  deploy_staging:
    name: 'Deploy to Staging'
    runs-on: ubuntu-latest

    steps:
    - name: 'Checkout repository'
      uses: actions/checkout@v3
    
    - name: 'Set up .NET Core'
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    
    - name: 'Build application files'
      run: dotnet publish --no-self-contained --runtime linux-x64 --configuration Release --output ./artifact/build ./aws-test-app/aws-test-app.csproj

    - name: 'Install zip functionality'
      uses: montudor/action-zip@v1

    - name: 'Zip up the build files'
      run: zip -qq -r ../publish.zip .
      working-directory: artifact/build

    - name: 'Copy Cloudformation deployment template file'
      run: cp ./deployment.yml ./artifact/deployment.yml

    - name: 'Upload zipped build files'
      uses: actions/upload-artifact@v3
      with:
        name: publish
        path: ./artifact

    - name: 'Configure AWS Credentials'
      uses: aws-actions/configure-aws-credentials@v1
      with:
        role-to-assume: arn:aws:iam::604486847222:role/OIDC_GitHub
        role-session-name: GitHub_to_AWS_via_FederatedOIDC
        aws-region: eu-north-1
        
    - name: 'Delete existing zipped build files in AWS'
      run: aws s3 rm s3://ddt-build-files/ci-cd-demo/staging --recursive --exclude "*" --include "*.zip"
    
    - name: 'Upload zipped build files to AWS S3 bucket'
      run: aws s3 cp ./artifact/publish.zip s3://ddt-build-files/ci-cd-demo/staging/build-${{ github.run_number }}.zip

    - name: 'Create AWS CloudFormation Stack'
      uses: aws-actions/aws-cloudformation-github-deploy@v1
      with:
        name: ci-cd-demo-stack
        template: artifact/deployment.yml
        parameter-overrides: EnvironmentName=staging, BucketName=ddt-build-files, Key=ci-cd-demo/${{ env.ENV_NAME }}/${{ format('build-{0}.zip', github.run_number ) }}
        capabilities: CAPABILITY_IAM, CAPABILITY_AUTO_EXPAND
        no-fail-on-empty-changeset: "1"
    
